* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #000;
  height: 100%;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  max-width: 75em;
  margin: auto;
  padding: 0 1rem;
}
.main-header {
  font-size: 1rem;
}
.main-header h1 {
  margin: 1rem 0;
}

.filters {
  display: flex;
  margin: 1rem 0;
}
.filters label span {
  display: inline-block;
  margin-right: 0.5rem;
}
.filters li {
  margin-right: 1rem;
}

.companies:not(:empty) {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  margin: 0 0 1rem 0;
  padding: 0;
}
@media (max-width: 640px) {
  .companies:not(:empty) {
    grid-template-columns: 1fr 1fr;
  }
}
.companies.loading {
  margin: 0;
}
.companies li {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 12rem;
}
.companies li article {
  padding: 1rem;
  background: #000;
  opacity: 0.8;
  height: 100%;
}
.companies li h1 {
  margin: 0;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.companies li h2 {
  margin: 0.5rem 0;
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.companies li dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: auto;
  width: auto;
  gap: 0 0.5rem;
}
main {
  overflow-y: scroll;
}

@keyframes pulsing {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.companies.loading li article {
  background: #202020;
  animation: pulsing 2s linear infinite;
}
.companies.loading li:nth-child(4n + 2) article {
  animation-delay: 0.5s;
}
.companies.loading li:nth-child(4n + 3) article {
  animation-delay: 1s;
}
.companies.loading li:nth-child(4n + 4) article {
  animation-delay: 1.5s;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}
